@charset "utf-8";

* {
    font-family: "Chakra_Petch", "minecrafter", "sans-serif";
    src: url("/static/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("opentype");
    /* src: url("/static/fonts/minecrafter/Minecrafter.Reg.ttf") format("opentype"); */
}

html{
	scroll-behavior: smooth;
}
body { 
	position: relative;
}

nav.navbar {
	background-color: #fffb9e;
}

.navbar {

}

.navbar .navbar_logo {

}

.navbar .navbar_main {

}

#jumbotron {
    margin-top: 1em;
}

#jumbotron h1{
    text-align: center;
    font-size: 4vw;
}

#jumbotron p{
    text-align: center;
}

#web {

}

#niji {

}

#manus {

}

.intro .image{

}

.skill {

}

.skill img {

}

.skill .desc_skill {
    
}

.contact {

}

.contact .box_contact {

}

.contact .text {

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.image-container:hover .overlay {
	opacity: 0.3;
}

.cover {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}